.svg-icon-advice {
	background: url(svg/sprite.css-8d8425c2.svg) 18.095238095238095% 75.9493670886076% no-repeat;
}

.svg-icon-advice-dims {
	width: 38px;
	height: 38px;
}

.svg-icon-angle-down {
	background: url(svg/sprite.css-8d8425c2.svg) 98.1981981981982% 17.647058823529413% no-repeat;
}

.svg-icon-angle-down-dims {
	width: 26px;
	height: 26px;
}

.svg-icon-app-doorsteps {
	background: url(svg/sprite.css-8d8425c2.svg) 63.829787234042556% 0 no-repeat;
}

.svg-icon-app-doorsteps-dims {
	width: 60px;
	height: 60px;
}

.svg-icon-app-mobile {
	background: url(svg/sprite.css-8d8425c2.svg) 0 0 no-repeat;
}

.svg-icon-app-mobile-dims {
	width: 60px;
	height: 60px;
}

.svg-icon-app-mortgage {
	background: url(svg/sprite.css-8d8425c2.svg) 31.914893617021278% 0 no-repeat;
}

.svg-icon-app-mortgage-dims {
	width: 60px;
	height: 60px;
}

.svg-icon-app-realtor {
	background: url(svg/sprite.css-8d8425c2.svg) 0 44.11764705882353% no-repeat;
}

.svg-icon-app-realtor-dims {
	width: 60px;
	height: 60px;
}

.svg-icon-app-rentals {
	background: url(svg/sprite.css-8d8425c2.svg) 31.914893617021278% 44.11764705882353% no-repeat;
}

.svg-icon-app-rentals-dims {
	width: 60px;
	height: 60px;
}

.svg-icon-apt-for-rent {
	background: url(svg/sprite.css-8d8425c2.svg) 36.19047619047619% 75.9493670886076% no-repeat;
}

.svg-icon-apt-for-rent-dims {
	width: 38px;
	height: 38px;
}

.svg-icon-down-arrow-circle {
	background: url(svg/sprite.css-8d8425c2.svg) 98.1981981981982% 32.94117647058823% no-repeat;
}

.svg-icon-down-arrow-circle-dims {
	width: 26px;
	height: 26px;
}

.svg-icon-envelope {
	background: url(svg/sprite.css-8d8425c2.svg) 65.42056074766356% 97.53086419753086% no-repeat;
}

.svg-icon-envelope-dims {
	width: 34px;
	height: 34px;
}

.svg-icon-external {
	background: url(svg/sprite.css-8d8425c2.svg) 96.46017699115045% 47.12643678160919% no-repeat;
}

.svg-icon-external-dims {
	width: 22px;
	height: 22px;
}

.svg-icon-facebook {
	background: url(svg/sprite.css-8d8425c2.svg) 17.757009345794394% 97.53086419753086% no-repeat;
}

.svg-icon-facebook-dims {
	width: 34px;
	height: 34px;
}

.svg-icon-google-plus {
	background: url(svg/sprite.css-8d8425c2.svg) 81.30841121495327% 97.53086419753086% no-repeat;
}

.svg-icon-google-plus-dims {
	width: 34px;
	height: 34px;
}

.svg-icon-home-for-sale {
	background: url(svg/sprite.css-8d8425c2.svg) 54.285714285714285% 75.9493670886076% no-repeat;
}

.svg-icon-home-for-sale-dims {
	width: 38px;
	height: 38px;
}

.svg-icon-home-values {
	background: url(svg/sprite.css-8d8425c2.svg) 85.71428571428571% 0 no-repeat;
}

.svg-icon-home-values-dims {
	width: 38px;
	height: 38px;
}

.svg-icon-local-info {
	background: url(svg/sprite.css-8d8425c2.svg) 85.71428571428571% 24.050632911392405% no-repeat;
}

.svg-icon-local-info-dims {
	width: 38px;
	height: 38px;
}

.svg-icon-mobile-menu-toggle {
	background: url(svg/sprite.css-8d8425c2.svg) 67.2566371681416% 72.28915662650603% no-repeat;
}

.svg-icon-mobile-menu-toggle-dims {
	width: 22px;
	height: 30px;
}

.svg-icon-mortgage {
	background: url(svg/sprite.css-8d8425c2.svg) 85.71428571428571% 48.10126582278481% no-repeat;
}

.svg-icon-mortgage-dims {
	width: 38px;
	height: 38px;
}

.svg-icon-mortgage-calculator {
	background: url(svg/sprite.css-8d8425c2.svg) 85.71428571428571% 72.15189873417721% no-repeat;
}

.svg-icon-mortgage-calculator-dims {
	width: 38px;
	height: 38px;
}

.svg-icon-news {
	background: url(svg/sprite.css-8d8425c2.svg) 0 100% no-repeat;
}

.svg-icon-news-dims {
	width: 38px;
	height: 38px;
}

.svg-icon-pinterest {
	background: url(svg/sprite.css-8d8425c2.svg) 33.64485981308411% 97.53086419753086% no-repeat;
}

.svg-icon-pinterest-dims {
	width: 34px;
	height: 34px;
}

.svg-icon-recent-search {
	background: url(svg/sprite.css-8d8425c2.svg) 59.40594059405941% 40% no-repeat;
}

.svg-icon-recent-search-dims {
	width: 46px;
	height: 46px;
}

.svg-icon-trending {
	background: url(svg/sprite.css-8d8425c2.svg) 0 75.9493670886076% no-repeat;
}

.svg-icon-trending-dims {
	width: 38px;
	height: 38px;
}

.svg-icon-twitter {
	background: url(svg/sprite.css-8d8425c2.svg) 49.532710280373834% 97.53086419753086% no-repeat;
}

.svg-icon-twitter-dims {
	width: 34px;
	height: 34px;
}

.svg-icon-user {
	background: url(svg/sprite.css-8d8425c2.svg) 100% 0 no-repeat;
}

.svg-icon-user-dims {
	width: 30px;
	height: 30px;
}

