.svg-icon-advice {
	background: url(svg/sprite.css-454bdac1.svg) 56.75675675675676% 0 no-repeat;
}

.svg-icon-advice-dims {
	width: 38px;
	height: 38px;
}

.svg-icon-angle-down {
	background: url(svg/sprite.css-454bdac1.svg) 100% 0 no-repeat;
}

.svg-icon-angle-down-dims {
	width: 26px;
	height: 26px;
}

.svg-icon-apt-for-rent {
	background: url(svg/sprite.css-454bdac1.svg) 0 38.983050847457626% no-repeat;
}

.svg-icon-apt-for-rent-dims {
	width: 38px;
	height: 38px;
}

.svg-icon-down-arrow-circle {
	background: url(svg/sprite.css-454bdac1.svg) 100% 20% no-repeat;
}

.svg-icon-down-arrow-circle-dims {
	width: 26px;
	height: 26px;
}

.svg-icon-envelope {
	background: url(svg/sprite.css-454bdac1.svg) 22.36842105263158% 100% no-repeat;
}

.svg-icon-envelope-dims {
	width: 34px;
	height: 34px;
}

.svg-icon-external {
	background: url(svg/sprite.css-454bdac1.svg) 97.5609756097561% 38.80597014925373% no-repeat;
}

.svg-icon-external-dims {
	width: 22px;
	height: 22px;
}

.svg-icon-facebook {
	background: url(svg/sprite.css-454bdac1.svg) 80.26315789473684% 59.01639344262295% no-repeat;
}

.svg-icon-facebook-dims {
	width: 34px;
	height: 34px;
}

.svg-icon-google-plus {
	background: url(svg/sprite.css-454bdac1.svg) 80.26315789473684% 31.147540983606557% no-repeat;
}

.svg-icon-google-plus-dims {
	width: 34px;
	height: 34px;
}

.svg-icon-home-for-sale {
	background: url(svg/sprite.css-454bdac1.svg) 51.351351351351354% 71.1864406779661% no-repeat;
}

.svg-icon-home-for-sale-dims {
	width: 38px;
	height: 38px;
}

.svg-icon-home-values {
	background: url(svg/sprite.css-454bdac1.svg) 82.43243243243244% 0 no-repeat;
}

.svg-icon-home-values-dims {
	width: 38px;
	height: 38px;
}

.svg-icon-local-info {
	background: url(svg/sprite.css-454bdac1.svg) 31.08108108108108% 0 no-repeat;
}

.svg-icon-local-info-dims {
	width: 38px;
	height: 38px;
}

.svg-icon-mobile-menu-toggle {
	background: url(svg/sprite.css-454bdac1.svg) 62.19512195121951% 96.82539682539682% no-repeat;
}

.svg-icon-mobile-menu-toggle-dims {
	width: 22px;
	height: 30px;
}

.svg-icon-mortgage {
	background: url(svg/sprite.css-454bdac1.svg) 25.675675675675677% 71.1864406779661% no-repeat;
}

.svg-icon-mortgage-dims {
	width: 38px;
	height: 38px;
}

.svg-icon-mortgage-calculator {
	background: url(svg/sprite.css-454bdac1.svg) 0 71.1864406779661% no-repeat;
}

.svg-icon-mortgage-calculator-dims {
	width: 38px;
	height: 38px;
}

.svg-icon-news {
	background: url(svg/sprite.css-454bdac1.svg) 56.75675675675676% 32.20338983050848% no-repeat;
}

.svg-icon-news-dims {
	width: 38px;
	height: 38px;
}

.svg-icon-pinterest {
	background: url(svg/sprite.css-454bdac1.svg) 0 100% no-repeat;
}

.svg-icon-pinterest-dims {
	width: 34px;
	height: 34px;
}

.svg-icon-recent-search {
	background: url(svg/sprite.css-454bdac1.svg) 0 0 no-repeat;
}

.svg-icon-recent-search-dims {
	width: 46px;
	height: 46px;
}

.svg-icon-trending {
	background: url(svg/sprite.css-454bdac1.svg) 25.675675675675677% 38.983050847457626% no-repeat;
}

.svg-icon-trending-dims {
	width: 38px;
	height: 38px;
}

.svg-icon-twitter {
	background: url(svg/sprite.css-454bdac1.svg) 44.73684210526316% 100% no-repeat;
}

.svg-icon-twitter-dims {
	width: 34px;
	height: 34px;
}

.svg-icon-user {
	background: url(svg/sprite.css-454bdac1.svg) 79.48717948717949% 96.82539682539682% no-repeat;
}

.svg-icon-user-dims {
	width: 30px;
	height: 30px;
}

